/hosts/
/scratch/

/Mackup/.emacs.d/auto-save-list/
/Mackup/.emacs.d/backups/
/Mackup/.emacs.d/elpa/
/Mackup/.emacs.d/quelpa/
/Mackup/.emacs.d/smex-items

/Mackup/.tmuxinator/*.yml
!/Mackup/.tmuxinator/default.yml

/Mackup/.*.old
/Mackup/.*.local
/Mackup/.config/*/*.local
/Mackup/.config/nixpkgs/hosts/
/Mackup/Library/
