/scratch/

/emacs.d/auto-save-list/
/emacs.d/backups/
/emacs.d/elpa/
/emacs.d/quelpa/
/emacs.d/smex-items

/**/tmuxinator/*.yml
!/**/tmuxinator/default.yml
!/**/tmuxinator/default_helper.rb

/*.old
/.*.local
/modules/*/*.local

/Library/
