"*":
  core:
    disabledPackages: [
      "whitespace"
      "exception-reporting"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  "linter-rubocop":
    disableWhenNoConfigFile: true
  welcome:
    showOnStartup: false
