"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  "exception-reporting":
    userId: "5528a59f-5e34-4f1b-979b-f0084ba5e754"
  welcome:
    showOnStartup: false
