"*":
  core:
    disabledPackages: [
      "whitespace"
      "exception-reporting"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor: {}
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  welcome:
    showOnStartup: false
